h1:first-child {
	color: red;
	font-size: 2em;
	text-align: center;
}

h1:nth-child(5) {
	text-align: center;
}

h1:nth-child(6) {
	text-align: center;
}

h2 {
	color: purple;
	font-size:2em;
	text-align: center;
}

h3 {
	color: blue;
	font-size: 2em;
	text-align: center;
}

body {
	background-color: silver;
	font-family: Tahoma;
}

img {
	height: 250px;
	border: 5px solid gold;
}

 p a {
	color: yellow;
	background-color: grey;
	border: 2px solid black;
	text-decoration: none;
}

p {
	text-align: center;
}

a:hover {
	color: purple;
	text-decoration: underline;
}

span {
	text-decoration: underline;
}

div {
	background-color: black;
	width: 400px;
	margin: auto;
	border: 2px solid yellow;
}

.one {
	font-family: Verdana;
	width: 450px;
}

.two {
	font-family: Courier;
}

#three {
	color: black;
}

p:nth-child(8) {
	color: teal;
	font-family: Times;
	font-size: 2em;
}